node_modules/

# build output
dist/
build/

# sveltekit
.svelte-kit/

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# os
.DS_Store

# env
.env*
!.env.example

# typescript
*.tsbuildinfo

# vercel
.vercel
